.studycharts {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.border {
  margin-left: auto;
  margin-right: auto;
  outline: 1px rgba(0, 0, 0, 0) solid;
  width: 500px;
  height: 24px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #ffffff8a;
}

.container {
  background-color: rgb(137, 218, 250);
  width: 1.5%;
  height: 24px;
}

.wrap {
  float: left;
  padding: 10px;

}

.flex-container {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.flex-container>.row {
  display: table-row;
}

.flex-container>.row>div {
  display: table-cell;
  padding: 8px;
  border: 1px solid #ffffff8a;
  text-align: center;
}

.flex-container>.row>.QuartileNumber {
  font-weight: bold;
}

p {
  padding-left: 20px;
}

.wrap1 {
  float: right;
  margin: 10px;
}

progress[value] {

  -webkit-appearance: none;
   appearance: none;

  width: 400px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #ffffff77;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
