h1 {color : black}      
      h3{text-align: center;}
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      h4{text-align: center;}
      h1{text-align: center;}
      video {
        display: block;
        margin: 0 auto;
    }
    body {
        color: rgb(255, 255, 255);
      }
      
      h1 {
        color:#000000;
      }
      h2 {
        color: black;
      }
      h3 {
        color: black;
      }
      h4 {
        color: black;
      }
      p {color: white;}
      body {
        background-color: #3d705f;
      }
           
      .color1 
      {background-color: #649283;} 
      .color2 {background-color:#759C8E;}
      .color3 {background-color: #7BA596; }
      .color4 {background-color: #81AE9D;}
      .color5 {background-color: #69AB94;}
      .color6 {background-color: #649283 ;}
      .color7 {background-color: #759C8E;}
      .color8 {background-color: #7BA596;}
      .color9 {background-color: #81AE9D;}
      .color10 {background-color: #69AB94;}
    h2 {text-align: center;}
    table, th, td {
      border:1px solid black;
    }
    .q1 {background-color: #649283 ;}
    .q2 {background-color: #649283;}
    .q3 {background-color: #649283;}
    .q4 {background-color: #649283;}
    .q5 {background-color: #649283 ;}
   .text1 {font-size: 18px;}
   .text2 {font-size: 15px;}
   #navbar {font-size: 20px;}
  
#navbar {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex; 
}


#navbar li {
  margin: 0 10px; 
  display: inline;
}


#navbar li a {
  display: inline-block;
  padding: 10px 20px; 
  background-color: #4E937A; 
  color: #fff; 
  text-decoration: none;
  border-radius: 5px; 
}
#navbar li a.active {
  background-color: #81AE9D; }
 #navbar li a:hover:not(.active) {
    background-color: #9aa899;
    color: white;
  }

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3{font-size: 20px;}
h4{font-size: 18px;}


#navbar li a {
  font-size: 18px;
}


p {
  line-height: 1.4; 
}
a{color: #3c7561;font-size: 15;}
aside{float: right;}
aside {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex; 
}


aside li {
  margin: 0 10px; 
  display: inline;
}


aside li a {
  display: inline-block;
  padding: 10px 20px; 
  background-color: #4E937A; 
  color: #fff; 
  text-decoration: none;
  border-radius: 5px; 
}
aside li a.active {
  background-color: #81AE9D; }
 aside li a:hover:not(.active) {
    background-color: #9aa899;
    color: white;
  }
.studycharts {margin-left: auto;
margin-right: auto;margin-top: 10px;}
td {font-weight: bold; font-size: 20px;}
.border {
  margin-left: auto;
  margin-right: auto;
  outline: 1px black solid;
  width: 500px;
  height: 24px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #649283;
}

.progress {
  background-color: rgb(137, 218, 250);
  width: 1.66%;
  height: 24px;
}
.wrap {
  float: left; 
  margin: 10px;
 }
 .flex-container {
  display: flex;
  background-color: #649283;
}

.flex-container > div {
  background-color: #95B7A6;
  margin: 10px;
  padding: 1px;
  font-size: 15px;
}
.flex-container {
  display: flex;
  height: 300;
  flex-wrap: wrap;
  align-content: space-between;
}
